version: '3.8'

services:
  mongo:
    image: mongo:5.0
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongo-db:/data/db
    networks:
      - app-network

  boot-app:
    image: arghya0812/chatback
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - MONGO_URI=mongodb://mongo:27017/chatappdb
    depends_on:
      - mongo
    ports:
      - "8080:8080"
    networks:
      - app-network

volumes:
  mongo-db:

networks:
  app-network:
    driver: bridge
